@font-face {
    font-family: 'Roobert';
    src: url(RoobertRegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Recoleta-Bold';
    src: url(Recoleta-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Recoleta-SemiBold';
    src: url(Recoleta-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Recoleta-Regular';
    src: url(Recoleta-Regular.ttf) format('truetype');
}

body {
    font-family: 'Recoleta-Regular', sans-serif;
    margin: 0;
    padding: 0;
    color: #304019;
    background-color: #F4EBD9;
}

header {
    background-color: #F3DDAF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

header .logo img {
    width: 150px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    flex: 1;
}

header nav ul li a {
    text-decoration: none;
    color: #304019;
    font-weight: bold;
    font-size: 18px;
}

header nav .cadastro {
    text-align: right;
}

header nav .cadastro a {
    text-decoration: none;
    color: #304019;
    font-weight: bold;
    font-size: 18px;
}

header nav .cadastro span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #304019;
}

header nav .cadastro span a {
    text-decoration: none;
    color: #304019;
    font-weight: normal;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.carousel-container {
    position: relative;
}

.carousel-slide{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.carousel-slide img{
    scroll-snap-align: start;
    width: 100%;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #333;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

button.prev{
    left: 0;
}

button.next{
    right: 0
}

.hero {
    position: relative;
    text-align: center;
    width: calc(100% + 4px);
    margin-left: -px;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text-container {
    position: relative;
    z-index: 2;
    text-align: center; 
}

.hero-title {
    background-color: #F3DDAF;
    padding: 20px;
}

.hero-title h1 {
    font-family: 'Recoleta-SemiBold';
    font-size: 2vw; 
    margin: 0 auto; 
    max-width: 90%; 
    color: #2F4217;
}

.about {
    padding: 50px;
    background-color: #F4EBD9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row; 
}

.about-image {
    flex: 1; 
    display: flex;
    justify-content: flex-start;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 1; 
    max-width: 5000px;
    text-align: left; 
    padding-right: 50px; 
}

.about-text h2 {
    font-size: 58px;
    margin-bottom: 20px;
    color: #2F4217;
    font-weight: bold;
}

.about-text p {
    font-size: 28px;
    line-height: 1.6;
    font-family: 'Roobert';
}

.cocktails {
    padding: 55px;
    background-color: #2F4217;
    text-align: center;
}

.cocktails h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: white;
}


.cocktail-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cocktail-item {
    width: 300px;
    height: 300px; 
    border-radius: 15px; 
    position: relative; 
    overflow: hidden; 
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 15px; 
    overflow: hidden; 
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-front img {
    opacity: 0; 
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px; 
}


.flip-card-front {
    transform: rotateY(0deg);
    z-index: 2; 
}


.flip-card-front img {
    width: 100%;
    height: 100%;
    border-radius: 15px; 
    transition: opacity 0.8s; 
    opacity: 1; 
}

.flip-card-back {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: transparent; 
    color: white;
    display: none;
    transform: rotateY(180deg); 
    z-index: 1; 
    padding: 20px;
    box-sizing: border-box; 
    text-align: center; 
    backface-visibility: visible; 
}

.flip-card:hover .flip-card-back {
    display: block; 
    background-color:  #2F4217; 
}


footer {
    background-color: #4C2A13;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 10px;
    flex: 1;
    text-align: center;
}

.footer-section p {
    margin: 5px 0;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 150px;
}

.btn-link {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin: 5px auto;
    display: inline-block; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.btn-link:hover {
    background-color: #fff;
    color: #4C2A13;
}

.social-media {
    text-align: center;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.social-media a img {
    width: 100px; 
    height: 100px; 
    margin-right: 10px;
}

.social-media a i {
    font-size: 24px;
}

.feedback {
    text-align: center;
}

.feedback select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    text-align-last: center;
    width: 100%;
    max-width: 200px;
    margin: 5px auto;
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.feedback select option {
    text-align: center;
    width: 100%;
}

.feedback select,
.feedback input[type="email"],
.feedback input[type="tel"],
.feedback button{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    margin: 5px auto;
    display: block;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none; 
}

.feedback select:hover,
.feedback input[type="email"]:hover,
.feedback input[type="tel"]:hover,
.feedback button:hover {
    background-color: #fff;
    color: #4C2A13;
}


@media (max-width: 768px) {

    .hero-title {
        width: 110%; 
    }

    .hero-title h1 {
        font-size: 6vw; 
    }

    header .container {
        flex-direction: column;
        align-items: center;
    }

    header .logo {
        order: 1;
    }

    .menu-toggle {
        display: flex;
        order: 2;
        margin-top: 10px;
    }

    nav {
        order: 3;
        width: 100%;
    }

header nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    header nav.active {
        display: flex;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    header nav .cadastro {
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }

    .hero img {
        height: auto;
    }

    .hero-text-container {
        max-width: 90%;
        top: -30px;
    }

    .hero h1 {
        font-size: 18px;
    }

    .about-content {
        flex-direction: column;
        gap: 20px;
    }

    .about-text h2 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 16px;
    }
    .cocktails h2 {
        font-size: 36px;
    }

    .cocktail-item img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    footer {
        padding: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .social-media, .feedback {
        min-width: 100%;
        text-align: center;
    }

    .feedback button {
        width: auto;
    }
}

@media (max-width: 480px) {

    .hero-title h1 {
        font-size: 4.5vw; 
    }

    .hero-text-container {
        top: -20px;
    }

    .hero h1 {
        font-size: 16px;
    }

    .about-text h2 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 16px;
    }

    .cocktails h2 {
        font-size: 28px;
    }
    .nav-menu{
        transition: transform 0.3s ease;
    }
    
    .nav-menu:hover {
        transform: scale(1.1);
    }
}