body {
    font-family: 'Recoleta', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #F4EBD9;
}

header {
    background-color: #F3DDAF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

header .logo img {
    width: 150px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    flex: 1;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

header nav .cadastro {
    text-align: right;
}

header nav .cadastro a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

header nav .cadastro span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

header nav .cadastro span a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text-container {
    background-color: rgba(245, 245, 220, 0.9); 
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    top: -50px; 
}

.hero h1 {
    font-size: 24px;
    margin: 0;
}

.about {
    padding: 50px;
    background-color: #F4EBD9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row; 
}

.about-image {
    flex: 1; 
    display: flex;
    justify-content: flex-start;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 1; 
    max-width: 5000px;
    text-align: left; 
    padding-right: 50px; 
}

.about-text h2 {
    font-size: 58px;
    margin-bottom: 20px;
    color: #2F4217;
    font-weight: bold;
}

.about-text p {
    font-size: 28px;
    line-height: 1.6;
}

.cocktails {
    padding: 55px;
    background-color: #2F4217;
    text-align: center;
}

.cocktails h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: white;
}

.cocktail-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cocktail-item img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

footer {
    background-color: #542C0D;
    color: #fff;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-info, .social-media, .feedback {
    flex: 1;
    min-width: 300px;
}

.contact-info p, .social-media p, .feedback p {
    margin: 5px 0;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.feedback button {
    background-color: #8f7e4f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    header .logo {
        order: 1;
    }

    .menu-toggle {
        display: flex;
        order: 2;
        margin-top: 10px;
    }

    nav {
        order: 3;
        width: 100%;
    }

    header nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    header nav.active {
        display: flex;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    header nav .cadastro {
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }

    .hero img {
        height: auto;
    }

    .hero-text-container {
        max-width: 90%;
        top: -30px;
    }

    .hero h1 {
        font-size: 18px;
    }

    .about-content {
        flex-direction: column;
        gap: 20px;
    }

    .about-text h2 {
        font-size: 36px;
    }

    .about-text p {
        font-size: 18px;
    }

    .cocktails h2 {
        font-size: 36px;
    }

    .cocktail-item img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    footer {
        padding: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .social-media, .feedback {
        min-width: 100%;
        text-align: center;
    }

    .feedback button {
        width: auto;
    }
}

@media (max-width: 480px) {
    .hero-text-container {
        top: -20px;
    }

    .hero h1 {
        font-size: 16px;
    }

    .about-text h2 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 16px;
    }

    .cocktails h2 {
        font-size: 28px;
    }
}
